.form-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-bottom: 16px;
  border-collapse: collapse;
}

h3 {
  margin-top: 16px;
}

h4.error {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.product-row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 15px;
}

.product-row mat-form-field {
  flex: 1;
}

/* Asegurarse de que la entrada de búsqueda encaje bien dentro del mat-option */
mat-option input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Evitar que el mat-select se cierre al hacer clic en la entrada */
mat-option[disabled] {
  pointer-events: auto !important;
}

/* Estilos para los botones */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Espacio entre los botones */
  width: 100%;
}

.button-container button {
  flex: 1; /* Ambos botones ocupan el mismo espacio */
}