<div class="form-container">
  <h4 class="error">{{ message }}</h4>
  <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">

    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <input matInput formControlName="description" placeholder="Digita la categoria">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="categoryForm.invalid || submit">
        {{ submit ? 'Guardando...' : (categoryEdit ? 'Actualizar categoria' : 'Añadir categoria') }}
      </button>

      <button mat-raised-button color="warn" type="button" (click)="categoryForm.reset(); categoryEdit = null"
        [disabled]="submit">{{ submit ? 'Guardando...' :
        (categoryEdit ? 'Cancelar' : 'Limpiar campos') }}
      </button>
    </div>

  </form>
</div>
