<div class="form-container">
  <h4 class="error">{{ message }}</h4>
  <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">

    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" type="number" placeholder="Enter id" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Enter category description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save category</button>
  </form>
</div>
