<!-- <div class="container">
  <mat-card>
    <mat-card-content>
      <h2>Módulo de Facturación</h2>
      <app-invoice-form (addInvoice)="onAddInvoice($event)"></app-invoice-form>
      <ui-table [data]="invoices" [columns]="tableColumns" [isLoading]="isLoading"></ui-table>
    </mat-card-content>
  </mat-card>
</div>

 -->

 <div class="container">
  <mat-card>
    <mat-card-content>
      <h2>Módulo de Facturación</h2>
      <!-- Componente del formulario -->
      <app-invoice-form (addInvoice)="onAddInvoice($event)"></app-invoice-form>
      <!-- Tabla reactiva usando UiTableComponent -->
      <ui-table [data]="invoices" [columns]="tableColumns" [isLoading]="isLoading"></ui-table>
    </mat-card-content>
  </mat-card>
</div>
