<div class="form-container">
  <h4 class="error">{{ message }}</h4>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">

    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" type="number" placeholder="Enter id" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="name" placeholder="Enter product name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" placeholder="Enter product price" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Item code</mat-label>
      <input matInput formControlName="itemCode" type="number" placeholder="Enter code item" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock" type="number" placeholder="Stock" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Enter product description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save Product</button>
  </form>
</div>
