<div>
  <h2>
    <mat-icon class="text-2xl text-gray-800">inventory_2</mat-icon>
    <span class="text-2xl text-gray-800">Creación de productos</span>
  </h2>
</div>
<div class="form-container">
  <h4 class="error">{{ message }}</h4>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">

    <mat-form-field appearance="fill">
      <mat-label>Producto</mat-label>
      <input matInput formControlName="name" placeholder="Enter product name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Codigo</mat-label>
      <input matInput formControlName="itemCode" type="number" placeholder="Enter code item" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Categoría</mat-label>
      <mat-select formControlName="category" [compareWith]="compareCategories" [disabled]="loadCategories" #categorySelect>
        <!-- Entrada de búsqueda -->
        <mat-option>
          <input type="text" placeholder="Buscar categoría..." (input)="filterCategories($event)" (click)="$event.stopPropagation()" />
        </mat-option>
        <!-- Opciones -->
        <mat-option *ngFor="let category of filterCategory" [value]="category">
          {{ category.description }}
        </mat-option>
        <mat-option *ngIf="filterCategory.length === 0" [disabled]="true">
          No se encontraron categorías
        </mat-option>
      </mat-select>
      <mat-error *ngIf="productForm.get('category')?.hasError('required')">
        La categoría es obligatoria
      </mat-error>
      <mat-hint *ngIf="loadCategories">Cargando categorías...</mat-hint>
    </mat-form-field>

    <!-- Select de suppliers -->
    <mat-form-field appearance="fill">
      <mat-label>Vendedor</mat-label>
      <mat-select formControlName="supplier" [compareWith]="compareSuppliers" [disabled]="loadSuppliers" #supplierSelect>
        <!-- Entrada de búsqueda -->
        <mat-option>
          <input type="text" placeholder="Buscar vendedor..." (input)="filterSuppliers($event)" (click)="$event.stopPropagation()" />
        </mat-option>
        <!-- Opciones -->
        <mat-option *ngFor="let supplier of filterSupplier" [value]="supplier">
          {{ supplier.name }}
        </mat-option>
        <mat-option *ngIf="filterSupplier.length === 0" [disabled]="true">
          No se encontraron vendedores
        </mat-option>
      </mat-select>
      <mat-error *ngIf="productForm.get('supplier')?.hasError('required')">
        El vendedor es obligatorio
      </mat-error>
      <mat-hint *ngIf="loadSuppliers">Cargando vendedores...</mat-hint>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="price" type="number" placeholder="Enter product price" />
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Inventario</mat-label>
      <input matInput formControlName="stock" type="number" placeholder="Stock" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripcion</mat-label>
      <textarea matInput formControlName="description" placeholder="Enter product description"></textarea>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid || submit">
        {{ submit ? 'Guardando...' : (productEdit ? 'Actualizar producto' : 'Añadir producto') }}
      </button>

      <button mat-raised-button color="warn" type="button"
      (click)="productForm.reset(); productEdit = null"
        [disabled]="submit">{{ submit ? 'Saving...' :
        (productEdit ? 'Cancelar' : 'Limpiar campos') }}
      </button>
    </div>

  </form>
</div>