<div class="form-container">
  <h4 class="error">{{ message }}</h4>
  <form [formGroup]="supplierForm" (ngSubmit)="addSupplier()">

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <textarea matInput formControlName="name" placeholder="Enter supplier name"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <textarea matInput formControlName="lastName" placeholder="Enter supplier lastname"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Celular</mat-label>
      <textarea matInput formControlName="cellPhone" placeholder="Enter cellphone"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nit</mat-label>
      <textarea matInput formControlName="nit" placeholder="Enter nit"></textarea>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="supplierForm.invalid || submit">
        {{ submit ? 'Guardando...' : (supplierEdit ? 'Actualizar vendedor' : 'Añadir vendedor') }}
      </button>

      <button mat-raised-button color="warn" type="button" (click)="supplierForm.reset(); supplierEdit = null"
        [disabled]="submit">{{ submit ? 'Guardando...' :
        (supplierEdit ? 'Cancelar' : 'Limpiar campos') }}
      </button>
    </div>

  </form>
</div>
