<div>
  <h2>
    <mat-icon class="text-2xl text-gray-800">store</mat-icon>
    <span class="text-2xl text-gray-800">Creación de proveedores</span>
  </h2>
</div>
<div class="form-container">
  <h4 class="error">{{ message }}</h4>
  <form [formGroup]="supplierForm" (ngSubmit)="addSupplier()">

    <mat-form-field appearance="fill">
      <mat-label>Razon social</mat-label>
      <input matInput formControlName="name" placeholder="Digita la Razon social">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput formControlName="cellPhone" placeholder="Digita el numero celular">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nit</mat-label>
      <input matInput formControlName="nit" placeholder="Digita el nit">
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="supplierForm.invalid || submit">
        {{ submit ? 'Guardando...' : (supplierEdit ? 'Actualizar vendedor' : 'Añadir vendedor') }}
      </button>

      <button mat-raised-button color="warn" type="button" (click)="supplierForm.reset(); supplierEdit = null"
        [disabled]="submit">{{ submit ? 'Guardando...' :
        (supplierEdit ? 'Cancelar' : 'Limpiar campos') }}
      </button>
    </div>

  </form>
</div>
